/*index.html에 모든 css파일 적용되므로 다른 파일에 동일하게 적혀있다면 지워도 됨(이름 바꿔서 중복 방지하기)*/
.d_group{font-size:60px; text-align:center;}/*전체적인 페이지*/
#insert{color:#ae7ff3;}/*주소*/
#d_googleMap{width:90%; height:650px; margin:20px auto;}
.write{font-size:50px; color:#707070; margin-top:-20px; margin-bottom:30px;}/*불편내용 적어주세요*/
.choose{font-size:40px; color:#4268F6;}/*선택*/
#text_img, #text_done, #text_cam{border:solid 1px #495057; border-radius: 15px; width:800px; height:350px;}/*불편내용 적는 칸*/